.carousel-item,
#carouselMain {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0a0908;
}

.carousel-inner {}

#carouselimg {
    text-align: center;
    object-position: center;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#backGroundPeak {
    background-image: url(../img/Nathalias\ Peak.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0a0908;
    width: 100vw;
    height: 100vh;
}

.progress {
    
}