.carousel-item,
#carouselMain {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#carouselimg {
    text-align: center;
    object-position: center;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#backGroundPeak{
    background-image: url(../img/Nathalias\ Peak.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0a0908;
    width: 100vw;
    height: 100vh;
}

#backGroundPeak2{
    background-image: url(../img/Nathalias\ Peak2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0a0908;
    width: 100vw;
    height: 100vh;
}

.progressDescription {
    font-family: 'Ailerons';
    font-size: 40px;
    display: flex;
    color: #000000;
    width: 100vw;
    height: 17vh;
}

.btn{
    color: #0a0908;
    background-color: #0a0908;
}

.imgsize{
    object-fit: cover;
    width: 49vw;
    height: 25vh;
}